apps/bin
CMakeFiles
CMakeCache.txt
*cmake_install.cmake
*Makefile
doc/
lib/
obj/
bin/
*.dll
*.temp
*.lib
*.a
*.obj
*~

*.cbp
*.layout
.idea/
apps/tests/config.cfg
apps/tests/existingFile.dat
apps/tests/writeNew.dat
*.gch
